h1{font-family: 'Courier New', Courier, monospace; color: rgb(139, 192, 40);}


h2{font-family: 'Times New Roman', Times, serif; color: rgb(189, 189, 14); border: 1 black;}


h3{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(156, 9, 156);}


b{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: orangered;}


i{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: rgb(0, 93, 109);}